body {
    background-color:lightblue;
}
h1 {
    color: blue;
    text-align: center;
}
div{
    border: 5px solid black;
    background-color: aquamarine;
    padding-top:  10px;
    padding-bottom: 40px;
}